/*:host {
  display: flex;
  justify-content: center;
  margin: 100px 0px;
}

.mat-mdc-form-field {
  width: 142%;
}

.mdc-card {
  width: 26%;
}

.mat-mdc-card-title {
  text-align: center;
  background-color: #3f51b5;
  color: white;
  width: 100%;
}

mat-card-content {
  display: flex;
  justify-content: center;
  width: 73%;
  margin-top: 19px;
}*/
/*
.error {
  padding: 16px;
  width: 300px;
  color: white;
  background-color: red;
}*/
/*.m-t {
  margin-top: 20px;
}

.button {
  display: flex;
  justify-content: flex-end;
}

.mat-mdc-card {
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  --mdc-elevated-card-container-color: #fff;
}*/

mat-form-field {
  width: 36%;
  padding: 9px;
}

.tcenter {
  text-align: center;
}

form {
  text-align: center;
  width: 100%;
  border: 1px solid;
}

.mat-mdc-raised-button:not(:disabled) {
  background-color: #3f51b5;
  color: white;
}
